body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #87CEEB;
}

.score, .lives {
    position: absolute;
    top: 10px;
    font-size: 24px;
    color: white;
}

.score {
    left: 10px;
}

.lives {
    right: 10px;
}

.pig {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 101px;
    height: 77px;
    background-image: url('img/pig.png');
    background-size: cover;
}

.button {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    z-index: 1000;
}

.object {
    position: absolute;
    background-size: cover;
}

.coin {
    width: 45px;
    height: 45px;
    background-image: url('img/coin-green-L.png');
}

.hammer {
    width: 60px;
    height: 60px;
    background-image: url('img/hammer.png');
}

/* Стили для сообщения */
.desktop-message {
    display: none; /* По умолчанию скрыто */
    text-align: center;
    margin-top: 20%;
    font-size: 24px;
}

.desktop-message img {
    width: 200px;
    height: 200px;
    margin-top: 20px;
}

/* Стили для игры */
.game-container {
    display: none; /* По умолчанию скрыто */
}

/* Медиа-запрос для экранов больше 390px */
@media (min-width: 1200px) {
    .desktop-message {
        display: block; /* Показываем сообщение */
    }
}

/* Медиа-запрос для экранов меньше или равно 390px */
@media (max-width: 1199px) {
    .game-container {
        display: block; /* Показываем игру */
    }
}